*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Loto", system-ui, -apple-system, "Segoe UI";
  background: rgb(8, 160, 130);
  background: radial-gradient(
    circle,
    rgba(8, 160, 130, 1) 0%,
    rgba(6, 74, 64, 1) 38%,
    rgba(2, 25, 29, 1) 98%
  );
  color: #001f3f;
  margin: 0;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100%;
}

.music-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.ImageContainer {
  background-image: linear-gradient(
      to bottom,
      rgba(81, 91, 147, 0.52),
      rgba(43, 66, 7, 0.507)
    ),
    url("https://i.scdn.co/image/ab67616d0000b273358193d702a21397291432ef");
  width: 480px;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  border-radius: 36px;
  display: flex;
  align-items: flex-end;
  box-shadow: 5px 5px 10px #033646, -5px -5px 10px #006159;
}

.player {
  width: 480px;
  padding: 48px 64px;
  border-radius: 36px;
  background: rgb(8, 160, 130);
  background: radial-gradient(
    circle,
    rgba(8, 160, 130, 1) 0%,
    rgba(6, 74, 64, 1) 70%,
    rgba(2, 25, 29, 1) 98%
  );
  box-shadow: 5px 5px 10px #033646, -5px -5px 10px #002421;
}

.player .music-name {
  margin: 0;
  margin-bottom: 8px;
  text-align: center;
}

.player .player-progress {
  margin-top: 36px;
}

.player .player-progress .progress-values {
  display: flex;
  justify-content: space-between;
  color: #a5aaaf;
  font-size: 14px;
}

.player .player-progress progress {
  width: 100%;
  height: 5px;
  -webkit-appearance: none;
  appearance: none;
}

.player .player-progress progress::-webkit-progress-bar {
  box-shadow: 5px 5px 10px #033646, -5px -5px 10px #00877c;
  border-radius: 3px;
}

.player .player-progress progress::-webkit-progress-bar {
  background: linear-gradient(to right, #5232c1, #12ccd0);
  border-radius: 3px;
}

.player .player-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  gap: 32px;
}

.player .player-buttons .btn {
  font-size: 16px;
  width: 48px;
  height: 48px;
  color: #fcfcfc;
  background: #00877c;
  box-shadow: 5px 5px 10px #033646, -5px -5px 10px #00877c;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

/* .player .player-buttons .btn.btn-prev {
  box-shadow: 5px 5px 10px #033646, -5px -5px 10px #00877c;
}
.player .player-buttons .btn.btn.btn-next {
  box-shadow: 5px 5px 10px #033646, -5px -5px 10px #00877c;
} */

.player .player-buttons .btn.btn-play {
  font-size: 36px;
  width: 76px;
  height: 76px;
  box-shadow: 5px 5px 10px #033646, -5px -5px 10px #00877c;
}

.player .player-buttons .btn.btn-next {
  box-shadow: 5px 5px 10px #033646, -5px -5px 10px #00877c;
}

.player .player-buttons .btn.btn-next i {
  display: inline-block;
  margin-top: 2px;
  margin-left: 2px;
}

@media (max-width: 768px) {
  .player .player-buttons .btn {
    width: 42px;
    height: 42px;
  }

  .player .player-buttons .btn.btn-play {
    width: 64px;
    height: 64px;
  }
}

@media (max-width: 482px) {
  .player {
    width: 100vw;
    padding: 24px 32px;
  }

  .ImageContainer {
    width: 100vw;
    background-position: center;
    background-size: cover;
    border-radius: 36px;
  }
}