/* Brand: #A6849D
Darkest: #2F2235
Dark: #523E5C
Mid: #ACBBAC
Light: #DDECDD
Lightest: #FFFFFF */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap");

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #131324;
  color: #ddecdd;
  width: 100%;
}

a {
  color: #ddecdd;
  text-decoration: none;
}

.navbar_container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
  padding: 2em 1em;
  font-family: "Nunito", sans-serif;
}

.nav_title {
  font-size: 1.5em;
  font-weight: 700;
  width: 100%;
  text-align: center;
  flex-basis: 40%;
}

.nav_side {
  display: flex;
  justify-content: space-around;
  width: 100%;
  /* gap: 10px; */
  /* flex-basis: 100%; */
}

.nav_middle {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  flex-basis: 60%;
}

.nav_middle a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.nav_end {
  display: flex;
  justify-content: center;
  gap: 10px;
  /* width: 100%; */
  font-size: 20px;
  flex-basis: 20%;
}

i {
  width: 25px;
  height: 25px;
  color: rgb(255, 255, 255);
}

.responsive_toggle {
  display: none;
}


@media screen and (max-width: 800px) {
  .navbar_container {
    justify-content: space-between;
  }
  /* .nav_side, .nav_end {
    display: none;
  } */

   .nav_side {
    display: none;
    grid-template-columns: auto;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background-color: #4a3953;
    border-radius: 20px;
    border: 2px solid #34495e;
    height: auto;
    width: 300px;
    position: absolute;
    right: 3em;
    top: 3em;
    flex-basis: 40%;
  } 

  .nav_middle {
    flex-direction: column;
    border-right: none;
  }

  .nav_middle  a {
    border-bottom: 1px solid #3498db;
    padding: 2em;
  }

  .nav_end {
    display: flex;
  }

  .nav_title {
    font-size: 1.25em;
  }

  .responsive_toggle {
    display: flex;
    justify-content: flex-end;
    padding-right: 3em;
    align-items: center;
    text-align: center;
    width: 100%;
    border: none;
    outline: none;
    background: none;
  }
}

@media screen and (max-width: 415px) {
  .nav_side {
    position: absolute;
    right: 2em;
    top: 4em;
    width: 200px;
  }

  .nav_title {
    flex-basis: 200%;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Noto+Serif:wght@700&family=Nunito:wght@400;500;600;700&display=swap");

/* landing Page CSS */
.landing_page {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 5em;
  width: 100%;
  height: auto;
}

.landing_section1 {
  width: auto;
}

.landing_hero {
  line-height: 2.5em;
}

.landing_title {
  font-family: "Noto Serif", serif;
  font-size: 3em;
}

.landing_desc {
  font-family: "Nunito", sans-serif;
  font-size: 1.2em;
  color: #acbbac;
  line-break: auto;
  word-wrap: break-word;
}

.landing_section2 {
  border: 2px solid #acbbac;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  padding: 0.5em;
  /* width: 50%; */
}

.DevImage {
  border-radius: 20px;
  width: 350px;
  height: 400px;
}

/* Desktop view  */
@media screen and (min-width: 1080px) {
  .landing_section1 {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 1428px) {
  .landing_title {
    font-size: 2em;
  }
}

@media screen and (max-width: 1180px) {
  .landing_title {
    font-size: 2.5em;
  }
}

/* Tablet view */
@media screen and (max-width: 920px) {
  .landing_page {
    padding: 2em;
  }

  .landing_title {
    font-size: 2.5em;
  }

  .landing_desc {
    font-size: 1.4em;
    line-height: 2em;
    margin-bottom: 20px;
  }

  .DevImage {
    width: 550px;
    height: 550px;
  }
}

/* Hero section mobile view */
@media screen and (max-width: 600px) {
  .landing_page {
    padding: 0.5em;
  }

  .landing_title {
    font-size: 2em;
  }

  .landing_desc {
    font-size: 0.9em;
    line-height: 2em;
    margin-bottom: 20px;
  }

  .DevImage {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 280px) {
  .landing_desc {
    font-size: 0.4em;
  }
}

/* skill section */
header {
  text-align: center;
  font-size: 2em;
  margin: 20px 0;
  color: #ddecdd;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.skill_section {
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
  font-family: "Nunito", sans-serif;
  gap: 5px;
}

.skill_experience {
  font-size: 1.2rem;
  line-height: 1.5;
  word-wrap: break-word;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  color: #acbbac;
  /* flex-basis: 50%; */
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.skill_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.skill {
  font-size: 10em;
}

/* progress bar */

.pie-wrapper {
  height: 1em;
  width: 1em;
  float: left;
  position: relative;
}

.pie-wrapper .label {
  background: #34495e;
  border-radius: 50%;
  bottom: 0.4em;
  color: #ecf0f1;
  cursor: default;
  display: block;
  font-size: 1rem;
  left: 0.4em;
  line-height: 2.8em;
  position: absolute;
  right: 0.4em;
  text-align: center;
  top: 3em;
}
.pie-wrapper .label .smaller {
  color: #bdc3c7;
  font-size: 0.45em;
  padding-bottom: 20px;
  vertical-align: super;
}

.pie-wrapper--solid {
  border-radius: 50%;
  overflow: hidden;
}
.pie-wrapper--solid:before {
  border-radius: 0 100% 100% 0/50%;
  content: "";
  display: block;
  height: 100%;
  margin-left: 50%;
  transform-origin: left;
}
.pie-wrapper--solid .label {
  background: transparent;
}

.pie-wrapper--solid.progress {
  background: linear-gradient(to right, #3498db 50%, #34495e 50%);
}
.pie-wrapper--solid.progress-90:before {
  background: #3498db;
  transform: rotate(25deg);
}

.pie-wrapper--solid.progress-55:before {
  background: #3498db;
  transform: rotate(140deg);
}

.pie-wrapper--solid.progress-60:before {
  background: #3498db;
  transform: rotate(135deg);
}

.pie-wrapper--solid.progress-75:before {
  background: #3498db;
  transform: rotate(90deg);
}

.pie-wrapper--solid.progress-63:before {
  background: #3498db;
  transform: rotate(150deg);
}

.pie-wrapper--solid.progress-88:before {
  background: #3498db;
  transform: rotate(43.2deg);
}
/* Desktop view */
@media screen and (max-width: 1040px) {
  .skill_section {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1040px) {
  .skill_container {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 415px) {
  .skill_experience {
    font-size: .8rem;
  }

  .skill_section {
    padding: 1em;
  }
}

/* Work Experience */

.work_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 0;
}

h1 {
  font-size: 2.6rem;
  line-height: 1.2em;
  padding-bottom: 1rem;
  font-weight: 600;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

circle {
  transform-origin: 50% 50%;
  transform: scale(0);
  transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

text {
  font-size: .8rem;
  text-transform: uppercase;
  text-anchor: middle;
  letter-spacing: 1px;
  font-weight: 600;
}

.svg-text {
  fill: #2f2235;
}

.svg-masked-text {
  fill: white;
}

image {
  transform: scale(1.1);
  transform-origin: 50% 50%;
  transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 200px;
  margin: 5px;
  cursor: pointer;
  background-color: #523e5c;
  border-radius: 2px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.02),
    inset 0 0px 0px 1px rgba(0, 0, 0, 0.07);
  transform: translateZ(0);
}

.item:hover circle,
.item:hover image {
  transform: scale(1);
}

/* contact css */
form {
  max-width: 420px;
  margin: 50px auto;
}

.feedback-input {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #3498db;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #a0cc49;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 100%;
  background: #34495e;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

[type="submit"]:hover {
  background: #545a64;
}
